● Import the dataset, convert the target variable values to 0 and 1, separate features from target values.

● Split the features into numeric and categorical datasets.

● Run descriptive statistical analysis on numerical features

In [ ]:
#importing required libraries 
import pandas as pd
import numpy as np

In [ ]:
ideaspice_df = pd.read_csv('/content/ideaspiceemployeeturnoverdatset.csv')

In [ ]:
ideaspice_df.head()

,EmployeId,Age,Gender,MaritalStatus,Turnover,Travelling,Vertical,Qualifications,EducationField,EmployeSatisfaction,...,RelationshipSatisfaction,Hours,StockOptionLevel,TrainingTimesLastYear,Work&Life,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrentManager,DistanceFromHome
0,63,29,M,Divorced,No,Sometimes,Research & Development,1,Medical,3,...,4,80,1,2,3,3,2,2,2,2
1,723,23,M,Single,No,Mostly,Sales,1,Life Sciences,2,...,4,80,0,3,3,1,0,0,0,6
2,1297,36,M,Single,Yes,Sometimes,Human Resources,4,Life Sciences,2,...,3,80,0,3,4,7,7,0,0,10
3,51,30,M,Divorced,No,Sometimes,Research & Development,4,Medical,3,...,2,80,3,5,3,10,6,3,9,12
4,1498,29,M,Single,Yes,Sometimes,Sales,3,Technical Degree,4,...,1,80,0,2,3,3,2,2,2,24

In [ ]:
ideaspice_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmployeId                 1470 non-null   int64
 1   Age                       1470 non-null   int64
 2   Gender                    1470 non-null   object
 3   MaritalStatus             1470 non-null   object
 4   Turnover                  1470 non-null   object
 5   Travelling                1470 non-null   object
 6   Vertical                  1470 non-null   object
 7   Qualifications            1470 non-null   int64
 8   EducationField            1470 non-null   object
 9   EmployeSatisfaction       1470 non-null   int64
 10  JobEngagement             1470 non-null   int64
 11  JobLevel                  1470 non-null   int64
 12  JobSatisfaction           1470 non-null   int64
 13  Role                      1470 non-null   object
 14  DailyBilling              1470 non-null   int64
 15  HourBilling               1470 non-null   int64
 16  MonthlyBilling            1470 non-null   int64
 17  MonthlyRate               1470 non-null   int64
 18  Work Experience           1470 non-null   int64
 19  OverTime                  1470 non-null   object
 20  PercentSalaryHike         1470 non-null   int64
 21  Last Rating               1470 non-null   int64
 22  RelationshipSatisfaction  1470 non-null   int64
 23  Hours                     1470 non-null   int64
 24  StockOptionLevel          1470 non-null   int64
 25  TrainingTimesLastYear     1470 non-null   int64
 26  Work&Life                 1470 non-null   int64
 27  YearsAtCompany            1470 non-null   int64
 28  YearsInCurrentRole        1470 non-null   int64
 29  YearsSinceLastPromotion   1470 non-null   int64
 30  YearsWithCurrentManager   1470 non-null   int64
 31  DistanceFromHome          1470 non-null   int64
dtypes: int64(24), object(8)
memory usage: 367.6+ KB

convert the target variable values to 0 and 1, separate features from target values.

In [ ]:
ideaspice_df['Turnover'].describe() # there are no null values in our target variable

count     1470
unique       2
top         No
freq      1203
Name: Turnover, dtype: object

In [ ]:
from sklearn import preprocessing 
ideaspice_df_2 = preprocessing.LabelEncoder()
ideaspice_df['Turnover']=ideaspice_df_2.fit_transform(ideaspice_df['Turnover'])

In [ ]:
ideaspice_df['Turnover'].head(6)

0    0
1    0
2    1
3    0
4    1
5    0
Name: Turnover, dtype: int64

In [ ]:
ideaspice_df.head()

,EmployeId,Age,Gender,MaritalStatus,Turnover,Travelling,Vertical,Qualifications,EducationField,EmployeSatisfaction,...,RelationshipSatisfaction,Hours,StockOptionLevel,TrainingTimesLastYear,Work&Life,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrentManager,DistanceFromHome
0,63,29,M,Divorced,0,Sometimes,Research & Development,1,Medical,3,...,4,80,1,2,3,3,2,2,2,2
1,723,23,M,Single,0,Mostly,Sales,1,Life Sciences,2,...,4,80,0,3,3,1,0,0,0,6
2,1297,36,M,Single,1,Sometimes,Human Resources,4,Life Sciences,2,...,3,80,0,3,4,7,7,0,0,10
3,51,30,M,Divorced,0,Sometimes,Research & Development,4,Medical,3,...,2,80,3,5,3,10,6,3,9,12
4,1498,29,M,Single,1,Sometimes,Sales,3,Technical Degree,4,...,1,80,0,2,3,3,2,2,2,24

In [ ]:
target = ideaspice_df.pop('Turnover')

In [ ]:
features = ideaspice_df

In [ ]:
ideaspice_df.columns

Index(['EmployeId', 'Age', 'Gender', 'MaritalStatus', 'Travelling', 'Vertical',
       'Qualifications', 'EducationField', 'EmployeSatisfaction',
       'JobEngagement', 'JobLevel', 'JobSatisfaction', 'Role', 'DailyBilling',
       'HourBilling', 'MonthlyBilling', 'MonthlyRate', 'Work Experience',
       'OverTime', 'PercentSalaryHike', 'Last Rating',
       'RelationshipSatisfaction', 'Hours', 'StockOptionLevel',
       'TrainingTimesLastYear', 'Work&Life', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrentManager', 'DistanceFromHome'],
      dtype='object')

In [ ]:
target.head()

0    0
1    0
2    1
3    0
4    1
Name: Turnover, dtype: int64

In [ ]:
features.head()

,EmployeId,Age,Gender,MaritalStatus,Travelling,Vertical,Qualifications,EducationField,EmployeSatisfaction,JobEngagement,...,RelationshipSatisfaction,Hours,StockOptionLevel,TrainingTimesLastYear,Work&Life,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrentManager,DistanceFromHome
0,63,29,M,Divorced,Sometimes,Research & Development,1,Medical,3,3,...,4,80,1,2,3,3,2,2,2,2
1,723,23,M,Single,Mostly,Sales,1,Life Sciences,2,3,...,4,80,0,3,3,1,0,0,0,6
2,1297,36,M,Single,Sometimes,Human Resources,4,Life Sciences,2,3,...,3,80,0,3,4,7,7,0,0,10
3,51,30,M,Divorced,Sometimes,Research & Development,4,Medical,3,3,...,2,80,3,5,3,10,6,3,9,12
4,1498,29,M,Single,Sometimes,Sales,3,Technical Degree,4,3,...,1,80,0,2,3,3,2,2,2,24

In [ ]:
numeric_data = ideaspice_df.select_dtypes(include=[np.number])
categorical_data = ideaspice_df.select_dtypes(exclude=[np.number])

In [ ]:
numeric_data.head(3)

,EmployeId,Age,Qualifications,EmployeSatisfaction,JobEngagement,JobLevel,JobSatisfaction,DailyBilling,HourBilling,MonthlyBilling,...,RelationshipSatisfaction,Hours,StockOptionLevel,TrainingTimesLastYear,Work&Life,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrentManager,DistanceFromHome
0,63,29,1,3,3,1,1,368,37,7062,...,4,80,1,2,3,3,2,2,2,2
1,723,23,1,2,3,1,3,599,97,2036,...,4,80,0,3,3,1,0,0,0,6
2,1297,36,4,2,3,2,4,833,34,6052,...,3,80,0,3,4,7,7,0,0,10

In [ ]:
numeric_data.shape
# there are 24 numerial columns

(1470, 24)

In [ ]:
categorical_data.head(3)

,Gender,MaritalStatus,Travelling,Vertical,EducationField,Role,OverTime
0,M,Divorced,Sometimes,Research & Development,Medical,Laboratory Technician,No
1,M,Single,Mostly,Sales,Life Sciences,Sales Representative,No
2,M,Single,Sometimes,Human Resources,Life Sciences,Manager,No

In [ ]:
categorical_data.shape
# there are 7 categorical columns

(1470, 7)

Run descriptive statistical analysis on numerical features

In [ ]:
numeric_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmployeId                 1470 non-null   int64
 1   Age                       1470 non-null   int64
 2   Qualifications            1470 non-null   int64
 3   EmployeSatisfaction       1470 non-null   int64
 4   JobEngagement             1470 non-null   int64
 5   JobLevel                  1470 non-null   int64
 6   JobSatisfaction           1470 non-null   int64
 7   DailyBilling              1470 non-null   int64
 8   HourBilling               1470 non-null   int64
 9   MonthlyBilling            1470 non-null   int64
 10  MonthlyRate               1470 non-null   int64
 11  Work Experience           1470 non-null   int64
 12  PercentSalaryHike         1470 non-null   int64
 13  Last Rating               1470 non-null   int64
 14  RelationshipSatisfaction  1470 non-null   int64
 15  Hours                     1470 non-null   int64
 16  StockOptionLevel          1470 non-null   int64
 17  TrainingTimesLastYear     1470 non-null   int64
 18  Work&Life                 1470 non-null   int64
 19  YearsAtCompany            1470 non-null   int64
 20  YearsInCurrentRole        1470 non-null   int64
 21  YearsSinceLastPromotion   1470 non-null   int64
 22  YearsWithCurrentManager   1470 non-null   int64
 23  DistanceFromHome          1470 non-null   int64
dtypes: int64(24)
memory usage: 275.8 KB

In [ ]:
numeric_data.describe()

,EmployeId,Age,Qualifications,EmployeSatisfaction,JobEngagement,JobLevel,JobSatisfaction,DailyBilling,HourBilling,MonthlyBilling,...,RelationshipSatisfaction,Hours,StockOptionLevel,TrainingTimesLastYear,Work&Life,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrentManager,DistanceFromHome
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,1056.771429,37.065306,2.876190,2.702041,2.712245,2.087075,2.785034,763.046939,65.074830,6752.281633,...,2.727891,80.0,0.817007,2.769388,2.798639,6.772109,4.066667,2.095238,3.945578,9.278231
std,594.598084,9.522562,1.019038,1.095039,0.731141,1.109663,1.095840,426.331994,20.604377,5141.197951,...,1.086822,0.0,0.880070,1.350900,0.714718,5.777745,3.741427,3.261537,3.702486,8.157120
min,8.000000,18.000000,1.000000,1.000000,1.000000,1.000000,1.000000,107.000000,30.000000,1102.000000,...,1.000000,80.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,531.250000,30.000000,2.000000,2.000000,2.000000,1.000000,2.000000,403.750000,47.000000,2919.250000,...,2.000000,80.0,0.000000,2.000000,2.000000,3.000000,2.000000,0.000000,1.000000,2.000000
50%,1073.000000,36.000000,3.000000,3.000000,3.000000,2.000000,3.000000,704.500000,66.000000,4854.000000,...,3.000000,80.0,1.000000,2.000000,3.000000,5.000000,3.000000,1.000000,2.000000,7.000000
75%,1553.750000,44.000000,4.000000,4.000000,3.000000,3.000000,4.000000,1151.000000,83.000000,8838.500000,...,4.000000,80.0,1.000000,3.000000,3.000000,9.000000,7.000000,2.000000,7.000000,15.000000
max,2060.000000,59.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1495.000000,100.000000,19847.000000,...,4.000000,80.0,3.000000,6.000000,4.000000,33.000000,17.000000,15.000000,17.000000,29.000000

In [ ]:
import sweetviz as sv

In [ ]:
#EDA using Autoviz
sweet_report = sv.analyze(numeric_data)

#Saving results to HTML file
sweet_report.show_html('sweet_report.html')

                                             |          | [  0%]   00:00 -> (? left)

Report sweet_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.